@import url('https://fonts.googleapis.com/css?family=Red+Rose|Oswald|Lato|Mulish|Montserrat|Odibee+Sans|Open+Sans|Roboto|Recursive|Sriracha&display=swap');

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.roboto {
  font-family: 'Roboto';
}

.openSans {
  font-family: 'Open Sans';
}

.odibeeSans {
  font-family: 'Odibee Sans';
}

.sriracha {
  font-family: 'Sriracha';
}

.recursive {
  font-family: 'Recursive';
}

.montserrat {
  font-family: 'Montserrat';
}

.mulish {
  font-family: 'Mulish';
}

.lato {
  font-family: 'Lato';
}

.oswald {
  font-family: 'Oswald';
}

.redRose {
  font-family: 'Red rose';
}
